// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    70%;
$on-palm:          80%;
$on-laptop:        70%;
$on-medium:        70%;
$on-large:         75%;
